.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left-pad-10 {
  padding-left: 10px;
}

.left-margin-10 {
  margin-left: 10px;
}

.top-pad-10 {
  padding-top: 10px;
}

.top-margin-10 {
  margin-top: 10px;
}

.margin-none {
  margin: 0;
}

.border-radius-10 {
  border: 1px solid white;
  border-radius: 10px;
}

.max-width {
  max-width: 600px;
  margin: auto;
}

.left-pad-0 {
  padding-left: 0;
}

.bio-max-width {
  max-width: 400px;
  margin: auto;
}

.register-max-width {
  max-width: 90%;
  margin: auto;
}

.test {
  pointer-events: all;
}

.padding-right {
  padding-right: 52px;
}

.inline {
  display: inline;
}
