/* GNOMAD blue #2185D0 */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left-pad-10 {
  padding-left: 10px;
}

.left-margin-10 {
  margin-left: 10px;
}

.top-pad-10 {
  padding-top: 10px;
}

.top-margin-10 {
  margin-top: 10px;
}

.top-pad-20 {
  padding-top: 20px;
}

#margin-0 {
  margin: 0px;
}

.border-radius-10 {
  border: 1px solid white;
  border-radius: 10px;
}

.max-width {
  max-width: 600px;
  margin: auto;
}

.left-pad-0 {
  padding-left: 0;
}

.bio-max-width {
  max-width: 400px;
  margin: auto;
}

.register-max-width {
  max-width: 90%;
  margin: auto;
}

.test {
  pointer-events: all;
}

.padding-right {
  padding-right: 52px;
}

.inline {
  display: inline;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.button-max-height {
  max-height: 40px;
}

.bottom-display {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #cecece;
}

.my-message {
  position: relative;
  max-width: 200px;
  text-align: right;
  margin-right: 10px;
  right: -42%;
  /*right: 0px;*/
}

.their-message {
  position: relative;
  max-width: 200px;
  text-align: left;
  margin-left: 10px;
  left: 5%;
  /*left: 0px;*/
}

.small-padding {
  padding: .5em !important;
  margin-top: 0 !important;
}

.main-nav {
  background-color: white;
  max-width: 480px;
}

#new-message-replace {
  height: 140px;
}

#new-message {
  height: 100px;
  vertical-align: top;
}

.clear-fixed {
  height: 45px;
  background-color: white;
}

#profile-link-banner {
  top: 40px;
  z-index: 101;
  padding: 10px;
}

#personal-message-form {
  width: 90%;
  margin: 10px auto;
  max-width: 425px;
}

#send-message-icon {
  top: 78px;
}

#navbar {
  background-color: white;
}

/*.conversation-container {
  max-width: 400px;
  margin: auto;
}*/
