<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1351086744971505',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  // FB.getLoginStatus(function(response) {
  //   statusChangeCallback(response);
  // });

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
      console.log(response);
    });
  }

  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      // Here is where we do something with the auth hash
      getFacebookInfo();

    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }

  //We're so good at this!
  function getFacebookInfo() {
    console.log("Our facebook info function has been hit");
    FB.api('/me', {fields: 'first_name, last_name, id, email'}, function(response) {
      console.log("Current user: " + response.name)
      console.log(response)
      FB.api('me/picture?width=150&height=150', function(response){
        console.log("++++++++++++++");
        console.log(response);
        console.log("++++++++++++++");
      })
    })
  }

  // function testAPI() {
  //       console.log('Welcome!  Fetching your information.... ');
  //       FB.api('/me', function(response) {
  //         console.log('Successful login for: ' + response.name);
  //         document.getElementById('status').innerHTML =
  //           'Thanks for logging in, ' + response.name + '!';
  //       });
  //     }

</script>


<fb:login-button
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

<!-- <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div> -->

<!-- response object for getLoginStatus -->
<!-- {
    status: 'connected',
    authResponse: {
        accessToken: '...',
        expiresIn:'...',
        signedRequest:'...',
        userID:'...'
    }
}
 -->

 <!-- button format, logout functionality, setting sessions, -->

